/* https://css-tricks.com/snippets/css/using-font-face/#article-header-id-0 */

@font-face {
    font-family: 'CenturyGothicRegular';
    src: url('../fonts/CenturyGothicRegular/CenturyGothicRegular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/CenturyGothicRegular/CenturyGothicRegular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf') format('truetype');
    /* Safari, Android, iOS */
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'CODE_Light';
    src: url('../fonts/CODE_Light.otf');
    font-weight: 300;
    font-style: normal;
}